* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    position: relative;
    height: 100vh;
}

input, textarea {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

button {
    cursor: pointer;
}

select, label {
    cursor: pointer;
}

.header{
    position: sticky;
    top: -30px;
    z-index: 3;
}

.listProductTitle {
    box-shadow: 10px 5px 60px rgba(0, 0, 0, 0.5);
}


.listProductTitle {
    display: flex;
    align-items: center;
    padding: 50px 10px;
    background-color: #032D3C;
    }
h1 {
    color: #FFE4C9;
}

.funtionsBar {
    margin: -25px 20px 10px 20px;
    display: flex;
    flex-direction: row;
}

.sort {
    display: flex;
    flex-wrap: nowrap;
    background-color: #EFE1D1;
    white-space: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 230px;
    height: 50px;
    border-radius: 50px;
    overflow: unset;
    margin-right: 20px;
}

#comboBox {
    padding: 10px 5px;
    border-radius: 50px;
    outline-color: #032D3C;
    border-style: none;
}

.filterColor {
    display: flex;
    background-color: #EFE1D1;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 50px;
    border-radius: 50px;
}

.colorComboBoxLabel {
    margin-left: 10px;
}

.colorComboBoxForm {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    overflow: initial;
    width: 100%;
}

#colorComboBox {
    padding: 10px 10px;
    border-radius: 50px;
    outline-color: #032D3C;
    border-style: none;
    width: 110px;
}

.filterColorBtn {
    width: 60px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50px;
    outline: none;
    border-style: none;
    background-color: #032D3C;
}

.searchBox {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    white-space: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 270px;
    height: 50px;
    border-radius: 50px;
    overflow: unset;
    border: 4px solid #EFE1D1;
    margin-left: 20px;
}

.inputToSearch {
    height: 80%;
    font-size: 16px;
    border-radius: 50px;
    outline: none;
    border-style: none;
    padding-left: 5px;
}

.addNewDiv {
    position: sticky;
    top: 108px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    z-index: 2;
    background-color: white;
}

.addNewBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    height: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border: none;
    background-color: #1B4242;
}

.addNewLabel {
    font-size: 16px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
}

.tableWrapper {
    margin-top: 85px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    z-index: 1;
    align-items: center;
}

#productTr {
    height: 90px;
}

#descriptionTd {
    max-width: 380px;
    text-align: justify;
}

.productTable {
    border-collapse: collapse;
    text-align: center;
    width: 98%;
}

.table-header {
    position: sticky;
    z-index: 1;
    top: 158px;
}

.table-header > th {
    background-color: #EEEEEE;
    height: 40px;
    color: #31363F;
}

#rollback-wrapper{
    position: absolute;
    z-index: 2;
    height: 35px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: -40px;
}


#rollback-btn {
    width: 50px;
    height: 35px;
    border-radius: 40px;
    outline: none;
    border-style: none;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #EFE1D1;
}

#rollback-btn > a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

#reload-icon:active{
    animation: rotate .2s ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.handleWrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.editBtn{
    background-color: #468B97;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    outline: none;
    border-style: none;
}

.deleteBtn{
    background-color: #ED2B2A;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    outline: none;
    border-style: none;
}

tr {
    padding-top: 10px;
    border-bottom: 2px solid #eeeeee;
}

/*EDIT FORM PRODUCT*/

.back-ground-wrapper {
    overflow: hidden;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: none;
}

#edit-form-wrapper {
    position: fixed;
    display: flex;
    width: 500px;
    height: 450px;
    background-color: #FFF7F1;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

#edit-form-wrapper.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

#editForm {
    padding: 20px;
    height: 92%;
    width: 93%;
    background-color: #EFE1D1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px -2px 15px rgba(0, 0, 0, 0.3);
}

.header-form {
    width: 100%;
    text-align: center;
}

#wrapper {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

.input-name, .input-price, .input-color, .input-stock, .input-description {
    display: flex;
    flex-direction: column;
}

.form-control {
    height: 35px;
    border-radius: 10px;
    border-style: none;
    outline: #032D3C;
    width: 200px;
    padding: 10px;
    font-size: 16px;
}

#descriptionTextarea {
    width: 100%;
    height: 80px;
}

.wrapper-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;}

.wrapper-button > button {
    width: 100px;
    height: 40px;
    border-radius: 40px;
    outline: none;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
}

.wrapper-button > .btn-second {
    background-color: white;
}

.wrapper-button > .btn-primary {
    background-color: #032D3C;
    color: white;
}

.input-description {
    grid-column-start: 1;
    grid-column-end: 3;
}

textarea {
    resize: none;
}

button:active {
    box-shadow: none;
    transform: scale(0.90);
}

button:hover, .upload-btn:hover {
    box-shadow: 0 0 5px #B4B4B8,
    0 0 5px #B4B4B8;
}

/*ADD NEW FORM PRODUCT*/

.title-form {
    padding-top: 10px;
}

.back-ground-wrapper-add {
    overflow: hidden;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: none;
    text-align: center;
}

.adding-form-wrapper {
    width: 490px;
    height: 540px;
    background-color: #FFF7F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.add-new-form {
    width: 450px;
    height: 500px;
    background-color: #EFE1D1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px -2px 15px rgba(0, 0, 0, 0.3);

}

.header-wrapper {
    width: 100%;
    background-color: #EFE1D1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    padding: 20px;
}

.footer-wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-wrapper > button {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border-style: none;
    font-weight: bold;
    font-size: 18px;
}

.footer-wrapper > .btn-primary {
    background-color: #032D3C;
    color: white;
}

.footer-wrapper > .btn-second {
    background-color: white;
}

.wrapper-name, .wrapper-price, .wrapper-color, .wrapper-stock, .wrapper-image, .wrapper-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add-form-control {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    outline-color: #032D3C;
    border-style: none;
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}

#addon-wrapping-10, .wrapper-image > input{
    margin: 5px 5px;
    border-radius: 0;
}

#addon-wrapping-10 {
    margin-top: -40px;
}

.wrapper-image > input {
    font-size: 16px;
    content: "Chọn hình ảnh";
    background-color: white;
    width: 95%;
    border-radius: 5px;
    margin-bottom: 7px;
}


.wrapper-image, .wrapper-description {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}
.wrapper-image {
    border: 2px solid white;
    border-radius: 10px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.wrapper-description > textarea {
    width: 100%;
    height: 70px;
}

.upload-btn {
    width: 97%;
    height: 45px;
    border-radius: 5px;
    font-weight: inherit;
    border: 2px dashed #032D3C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    margin-top: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upload-btn:active {
    box-shadow: none;
}

#success-icon {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 15px;
    font-size: 35px;
    color: #54B435;
}

.upload-btn:hover {
    color: #ffffff;
    border: 2px dashed #ffffff;
    box-shadow: 0 0 2px #ffffff,
    0 0 2px #ffffff;
}

/*CONFIRM DELETE PRODUCT*/
.back-ground-wrapper-confirm {
    overflow: hidden;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: none;
    text-align: center;
}

.confirm-form-wrapper {
    width: 320px;
    background-color: #FFF7F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

#confirm-form {
    background-color: #EFE1D1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px -2px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

#header-title {
    margin-bottom: 20px;
}

.body-wrapper {
    margin-bottom: 20px;
    font-size: 20px;
}

#footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#footer-wrapper > button {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
}

#yes-btn {
    background-color: #ED2B2A;
    color: white;
}







