<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Điền Thông tin khách hàng</title>
    <style>
    	.save-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Điền Thông tin khách hàng</h1>
    <form th:action="@{/user/save}" method="post"  >
        <label for="address_line">Địa chỉ nhận hàng:</label>
        <input type="text" id="address_line" name="address_line"><br><br>
        
        <label for="country">Quốc gia:</label>
        <input type="text" id="country" name="country"><br><br>
        
        <label for="city">Thành phố:</label>
        <input type="text" id="city" name="city"><br><br>
        
        <label for="phone">Số điện thoại:</label>
        <input type="text" id="phone" name="phone"><br><br>
        
        <button th:href="@{user/save}" type="submit" class="btn btn-primary">Thêm</button>
    </form>
    
</body>
</html>
