<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:if="${error != null}">
    <p>[[${error}]]</p>
</div>
<div th:if="${message != null}">
    <p>[[${message}]]</p>
</div>
    <form method="post" role="form" th:action="@{/forgot-password}">

        <div>
            <input type="email" id="gmail" name="gmail" placeholder="Enter your e-mail...">
        </div>
        <button type="submit" value="Log in" class="btn btn-secondary">Send</button>
    </form>
</body>
</html>