<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h4><a href="/oauth2/authorization/google">Login with Google</a></h4>
</div>
    <form method="post" role="form" th:action="@{/login}">

        <div>
            <p>Username:</p>
            <input type="text" id="username" name="username" placeholder="Enter username...">
            <p>Password:</p>
            <input type="password" id="password" name="password" placeholder="Enter password...">
        </div>
        <button type="submit" value="Log in" class="btn btn-secondary">Login</button>
        <a th:href="@{/register}" class="btn btn-secondary">Register</a>
        <a th:href="@{/forgot-password}" class="btn btn-secondary">Forgot your password?</a>
    </form>
</body>
</html>