<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h2>Reset Your Password</h2>

    <form method="post" role="form" th:action="@{/reset-password}">
        <input type="hidden" th:value="${token}" name="token">

        <div>
            <input type="password" name="password" id="password" placeholder="Enter your new password..." required autofocus>
        </div>
        <div>
            <input type="password" name="confirmPassword" placeholder="Confirm your new password..." required autofocus
            >
        </div>
        <input type="submit" value="Change password" class="btn btn-secondary">
    </form>
<script type="text/javascript">
</script>
</body>
</html>