<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xem tất cả sản phẩm</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{../../assets/css/view-all-product.css}" type="text/css">
    <link
            rel="stylesheet"
            data-purpose="Layout StyleSheet"
            title="Web Awesome"
            href="/css/app-wa-462d1fe84b879d730fe2180b0e0354e0.css?vsn=d"
    >

    <link
            rel="stylesheet"
            href="https://site-assets.fontawesome.com/releases/v5.15.4/css/all.css"
    >

    <script src="/static/JS/editInforProduct.js"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />-->
</head>
<body>
<div class="container">
    <div class="header">
        <div class="listProductTitle">
            <h1>DANH SÁCH SẢN PHẨM</h1>
        </div>
        <div class="funtionsBar">
            <form th:action="@{/admin/viewAll}" method="get" id="sort-form">
                <div class="sort">
                    <label class="sortLabel" for="comboBox">Sắp xếp theo</label>
                    <select id="comboBox" name="price">
                        <option value="">      Chọn</option>
                        <option value="asc">Giá tăng dần</option>
                        <option value="desc">Giá giảm dần</option>
                    </select>
                </div>
            </form>

            <div class="filterColor">
                <form class="colorComboBoxForm" th:action="@{/admin/viewAll}" method="get">
                    <label class="colorComboBoxLabel" th:for="options">Lọc theo màu</label>
                    <select name="color" id="colorComboBox">
                        <option value="">Chọn màu</option>
                        <th:block th:each="color : ${listColor}" >
                            <option th:value="${color}">[[${color}]]</option>
                        </th:block>
                    </select>
                    <button class="filterColorBtn" type="submit"><i class="far fa-filter" style="font-size: 20px; color: white"></i></button>
                </form>
            </div>

            <form th:action="@{/admin/viewAll}" method="get" id="search-form">
                <div class="searchBox">
                    <label>
                        <input class="inputToSearch" name="search" type="text" placeholder="Tìm kiếm">
                    </label>
                    <i class="far fa-search" id="search-icon" style="font-size: 25px; color: #A9A9A9; cursor: pointer"></i>
                </div>
            </form>
        </div>
    </div>

    <div class="addNewDiv">
        <button class="addNewBtn" onclick="openEditModal(addNewFormWrapper)">
            <i class="far fa-plus-circle" style="font-size: 35px; color: white; margin-left: 9px"></i>
            <label class="addNewLabel">Thêm mới</label>
        </button>
    </div>

    <div id="tableArea">
        <div id="rollback-wrapper">
            <button id="rollback-btn">
                <a href="/admin/viewAll" id="desination"><i class="far fa-sync-alt" id="reload-icon" style="color: #032D3C;font-size: 20px"></i></a>
            </button>
        </div>
        <div class="tableWrapper">
            <table class="productTable">
                <tr class="table-header">
                    <th>STT</th>
                    <th>ID</th>
                    <th>Tên sản phẩm</th>
                    <th>Mô tả</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Màu sắc</th>
                    <th>Hình ảnh</th>
                    <th>Thao tác</th>
                </tr>
                <th:block th:each="ProductDto : ${listAllProduct}">
                    <tr id="productTr">
                        <td class="stt-column"></td>
                        <td>[[${ProductDto.getProduct_id}]]</td>
                        <td>[[${ProductDto.getName}]]</td>
                        <td id="descriptionTd">[[${ProductDto.getDescription}]]</td>
                        <td>[[${ProductDto.getStock}]]</td>
                        <td>[[${ProductDto.getPrice}]]</td>
                        <td>[[${ProductDto.getColor}]]</td>
                        <td>
                            <img style="width: 100px" th:src="'data:image/jpeg;base64,' + ${ProductDto.getImg()}"/>
                        </td>

                        <td>
                            <div class="handleWrapper">
                                <button class="editBtn" style="margin-right: 10px" onclick="openEditModal(editFormWrapper)"
                                        th:data-id="${ProductDto.getProduct_id()}"
                                        th:data-name="${ProductDto.getName()}"
                                        th:data-des="${ProductDto.getDescription()}"
                                        th:data-stock="${ProductDto.getStock()}"
                                        th:data-price="${ProductDto.getPrice()}"
                                        th:data-color="${ProductDto.getColor()}" >
                                    <i class="far fa-pen-square" style="font-size: 30px; color: white"></i>
                                </button>
                                <button class="deleteBtn"
                                        th:data-product_id="${ProductDto.getProduct_id()}"
                                        onclick="openEditModal(confirmDialog)">
                                    <i class="far fa-trash" style="font-size: 30px; color: white"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>



    <!--        FORM TO EDIT PRODUCT                 -->
    <div class="back-ground-wrapper">
        <div id="edit-form-wrapper">
            <form class="container" id="editForm" th:action="@{/admin/update}" method="post">
                <h3 class="header-form">Chỉnh sửa thông tin sản phẩm</h3>
                <div id="wrapper">
                    <div class="input-price">
                        <span class="input-group-text" id="addon-wrapping-1" style="margin-bottom: 5px">Tên sản phẩm:</span>
                        <input type="text" name="name"  class="form-control" aria-label="Username" aria-describedby="addon-wrapping" minlength="7" required="required">
                        <input type="text" name="id"  hidden="hidden">
                    </div>

                    <div class="input-price">
                        <span class="input-group-text" id="addon-wrapping-2" style="margin-bottom: 5px">Giá:</span>
                        <input type="number" name="price" id="price" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" minlength="7" required="required">
                    </div>

                    <div class="input-color">
                        <span class="input-group-text" id="addon-wrapping-3" style="margin-bottom: 5px">Màu sắc:</span>
                        <input type="text" name="color"  class="form-control" aria-label="Username" aria-describedby="addon-wrapping" minlength="2" required="required">
                    </div>

                    <div class="input-stock">
                        <span class="input-group-text" id="addon-wrapping-4" style="margin-bottom: 5px">Số lượng:</span>
                        <input type="number" name="stock" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" min="1" required="required">
                    </div>

                    <div id="description" class="input-description">
                        <span class="input-group-text" id="addon-wrapping-5" style="margin-bottom: 5px">Mô tả sản phẩm:</span>
                        <textarea name="description" id="descriptionTextarea" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" minlength="10" required="required"></textarea>
                    </div>
                </div>
                <div class="wrapper-button">
                    <button type="button" class="btn btn-second" onclick="closeEditModal(editFormWrapper)">Hủy</button>
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>


    <!--        ADD NEW PRODUCT FORM-->
    <div class="back-ground-wrapper-add">
        <div class="adding-form-wrapper">
            <form class="add-new-form" th:action="@{/admin/save}" method="post" th:object="${Product}" enctype="multipart/form-data">
                <h2 class="title-form">THÊM SẢN PHẨM MỚI</h2>
                <div class="header-wrapper">
                    <div class="wrapper-name">
                        <span class="input-group-text" id="addon-wrapping-0">Tên sản phẩm:</span>
                        <input type="text" name="name" class="add-form-control" aria-label="Username" aria-describedby="addon-wrapping" minlength="6" maxlength="100" required="required">
                    </div>

                    <div class="wrapper-price">
                        <span class="input-group-text" id="addon-wrapping-7">Giá:</span>
                        <input type="text" name="price" class="add-form-control" aria-label="Username" aria-describedby="addon-wrapping" minlength="7" required="required">
                    </div>

                    <div class="wrapper-color">
                        <span class="input-group-text" id="addon-wrapping-8">Màu sắc:</span>
                        <input type="text" name="color" class="add-form-control" aria-label="Username" aria-describedby="addon-wrapping" minlength="1" required="required">
                    </div>

                    <div class="wrapper-stock">
                        <span class="input-group-text" id="addon-wrapping-9">Số lượng:</span>
                        <input type="number" name="stock" class="add-form-control" aria-label="Username" aria-describedby="addon-wrapping" min="1" required="required">
                    </div>

                    <div class="wrapper-image">
                        <span class="input-group-text" id="addon-wrapping-10">Hình ảnh:</span>
                        <input type="file" name="img" id="upload-img" style="display: none" class="add-form-control" aria-label="Username" aria-describedby="addon-wrapping" accept="image/jpeg, image/png" required="required">
                        <label class="upload-btn" id="upload-label" for="upload-img">
                            Chọn ảnh
                        </label>
                        <i class="far fa-file-check" id="success-icon"></i>
                    </div>

                    <div class="wrapper-description">
                        <span class="input-group-text" id="addon-wrapping-6">Mô tả sản phẩm:</span>
                        <textarea name="description" class="add-form-control" aria-label="Username" aria-describedby="addon-wrapping" minlength="10" required="required"></textarea>
                    </div>
                </div>

                <div class="footer-wrapper">
                    <button type="button" class="btn btn-second" onclick="closeEditModal(addNewFormWrapper)">Hủy</button>
                    <button th:href="@{admin/save}" type="submit" class="btn btn-primary">Thêm</button>
                </div>
            </form>
        </div>
    </div>

    <div class="back-ground-wrapper-confirm">
        <div class="confirm-form-wrapper">
            <form th:action="@{'/admin/delete/id='}" id="confirm-form">
                <h2 id="header-title">Xác nhận</h2>
                <div class="body-wrapper">
                    <p>Bạn có chắc chắn muốn xóa sản phẩm này không ?</p>
                </div>
                <div id="footer-wrapper">
                    <button id="no-btn" type="button" onclick="closeEditModal(confirmDialog)">Không</button>
                    <button id="yes-btn" type="submit">Có</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script>
    const editFormWrapper = document.querySelector('.back-ground-wrapper')
    const edit_btn = document.querySelector('.editBtn')
    const addNewFormWrapper = document.querySelector('.back-ground-wrapper-add')
    const confirmDialog = document.querySelector('.back-ground-wrapper-confirm')
    const cancel_btn = document.querySelector(".btn-second")
    function openEditModal (wrapper){
        wrapper.style.display = 'flex';
        // console.log("Open modal")
    }

    function closeEditModal (wrapper) {
        wrapper.style.display = 'none';
    }

    $(".filterColorBtn").click(function () {
        $(".colorComboBoxForm").submit()
    })

    $("#search-icon").click(function () {
        $("#search-form").submit();
    })

    $('.searchBox').keydown(function (e) {
        if (e.keyCode === 13) {
            console.log("Enter key")
            $("#search-form").submit();
        }
    })

    $("#comboBox").change(function () {
        console.log("Clicked: " + $('#comboBox').val())
        $("#sort-form").submit();
    })

    $('.editBtn').click(function () {
        const product = {
            id: $(this).data('id'),
            name: $(this).data('name'),
            des: $(this).data('des'),
            price: $(this).data('price'),
            stock: $(this).data('stock'),
            color: $(this).data('color')
        };

        console.log(parseFloat(product.price.replaceAll(",", "").replace(" ₫", "")))

        $('#editForm input[name="name"]').val(product.name);
        $('#editForm input[name="id"]').val(product.id);
        $('#editForm textarea[name="description"]').val(product.des);
        $('#editForm input[name="price"]').val(parseFloat(product.price.replaceAll(",", "").replace(" ₫", "")));
        $('#editForm input[name="stock"]').val(product.stock);
        $('#editForm input[name="color"]').val(product.color);
    });

    $(document).ready(function() {
        $("#upload-img").change(function() {
            $('#upload-label').text("")
            $('#success-icon').css("display", "flex")
            $('.upload-btn').css("border", "2px solid #54B435");
        });
    });
    var id = ''
    $('.deleteBtn').click(function () {
        id = $(this).data('product_id')
        console.log(id)
    })

    $('#yes-btn').click(function () {
        const form = $('#confirm-form')
        form.attr('action', '/admin/delete/id=' + id)
        form.submit();
    })

    $(document).ready(function() {
        // Add numbering to STT column
        $(".productTable tbody tr").each(function(index) {
            $(this).find(".stt-column").text(index);
        });
    });

</script>
</html>